<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%if self.current_user!=nil && Blockeduser.exists?(self.current_user.id)%>
<%sign_out%>
<%end%>
		
		<div id="sidebar">
			<div id="logo">
				<%= link_to '/home' do %>
				<%= image_tag "logo.png" %>
				<%end%>
			</div>
<<<<<<< HEAD
			<ul>
				<%if self.current_user!=nil%>
				<li>
					<%= link_to "#{self.current_user.fname}'s Profile", "/members/#{@current_user[:id]}"%>
				</li>
				<%end%>

				<%if self.current_user!=nil && Admin.exists?(self.current_user.id)%>
				<li>
					<%= link_to "New post", '/posts/new'%>
				</li>
				<% end %>
				<li>
					<%= link_to "Blog", root_path %>

			</ul>
=======
 
		
>>>>>>> b07851929793ed2b4075be9785c7191d1b33eb50

			<p class = "admin">
				<%= link_to "Authorize Users", '/members/add'%>
			</p>

<<<<<<< HEAD
		</div>
		<div id="main_content">
			<div id ="header">
				<div class = "buttons">
					<% if self.current_user!=nil%>
					<button class="button">
						<%= link_to "Sign Out", '/signout', method: :post%>
					</button>
					<%else%>
					<button class="button">
						<%= link_to "Sign In", '/login' %>
					</button>
					<button class="button">
						<%= link_to "Sign Up", '/members/create'%>
					</button>
					<%end%>
				</div>
=======
    		<%if self.current_user!=nil && Admin.exists?(self.current_user.id)%>
 			  <li><%= link_to "New post", '/posts/new'%></li>
 			<% end %>
 			 <li><%= link_to "Blog", root_path %>

    	</ul>	
<%if self.current_user!=nil && Admin.exists?(self.current_user.id)%>
<p class = "admin"><%=link_to "Authorize Users", '/members/add'%></p>
<p class = "block"><%=link_to "Block Users", '/members/block'%></p>
<p class = "unblock"><%=link_to "Unblock Users", '/members/unblock'%></p>
<%end%>
	</div>
	<div id="main_content">
		<div id ="header">
			<div class = "buttons">
            <% if self.current_user!=nil%>
           <button class="button">   <%= link_to "Sign Out", '/signout', method: :post%></button>
            <%else%>
         <button class="button">  <%= link_to "Sign In", '/login' %></button>
         <button class="button">     <%= link_to "Sign Up", '/members/create'%></button>
            <%end%>
            </div>
            
<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=<URL>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" class="share-buttons"/></a>
>>>>>>> b07851929793ed2b4075be9785c7191d1b33eb50

				<!-- Facebook -->
				<a href="http://www.facebook.com/sharer.php?u=<URL>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" class="share-buttons"/></a>

				<!-- Google+ -->
				<a href="https://plus.google.com/share?url=<BTN>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google"
				class="share-buttons"/></a>

			</div>
			<%= yield %>
		</div>
<<<<<<< HEAD
=======
		<%= yield %>
	</div>
	
>>>>>>> b07851929793ed2b4075be9785c7191d1b33eb50
	</body>
	</html>
