<div id = "page_wrapper">
<h1>Sign up</h1>
<%= form_for :member do |f| %>
<%if @member.errors.any?%>
<div id="errors">
	<h2><%=pluralize(@member.errors.count,"error")%> prevented creating account:</h2>
	<ul>
		<%@member.errors.full_messages.each do |msg|%>
		<li>
			<%=msg%>
		</li>
		<%end%>
	</ul>
</div> 
	<%end%> 
  <p>
    <%= f.label :email%><br>
    <%= f.email_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  
 <p>
    <%= f.label :first_name%><br>
    <%= f.text_field :fname %>
 </p> 
 <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :lname%>
  </p>
 <p>
    <%= f.label :date_of_birth%>
    <br>
    <%= f.date_select :DOB, :order => [:day, :month, :year] , :start_year => (Date.today.year - 100)  %>
  </p>
   <p>
    <%= f.label :signature%><br>
    <%= f.text_field :signature %>
  </p>
  
  <p>
  Upload Profile Picture 
  <br> 
  <br>
    <%= f.file_field :image%>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>

<div class="social-links">
<a href="#"><i class="fa fa-facebook-square"></i></a>
<a href="#"><i class="fa fa-twitter-square"></i></a>
<a href="#"><i class="fa fa-github-square"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-flickr"></i></a>
</div>